root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4
max_line_length = 100

[*.json]
indent_size = 2

[*.lock]
indent_size = 2

[.*rc]
indent_size = 2

[.*ignore]
indent_size = 2
